.navbar{
  margin: 0;
}
html {
  font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    color: white;
}
.navbar-menu-items{
    color: white;
    background-color: transparent;
}
.headingStyle1{
    margin-top: 0;
}
.section{
    text-align: center;
    padding: 40px 20px;
}
.section-text{
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 20px;
    line-height: 120%;
}
.with-shadow {
    position: relative;
    border-top: 1px solid transparent;
}
.with-shadow:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    content: "";
    top: 0px;
    left: 0;
    -webkit-box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.07);
    box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.07);
}