.navbar{
  margin: 0;
}
html {
  font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    color: white;
}
.navbar-menu-items{
    color: white;
    background-color: transparent;
}
.headingStyle1{
    margin-top: 0;
    margin-bottom: 30px;
}
.section{
    text-align: center;
    padding: 40px 20px;
}
.section-text{
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 20px;
    line-height: 120%;
}
.event-header-upcoming{
    color: red;
}

.cardTest{
    color: black !important;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    display: inline-block;
}
.cardTest svg{
    color: black!important;
}
@media screen and (max-width: 876px) {
    .cardTest{
        width: 100%;
    }
}
