.navbar{
  margin: 0;
}
html {
  font-family: 'Roboto', sans-serif;
    /*background-color: cyan;*/
}

body {
    margin: 0;
    color: white;
}
.navbar-menu-items{
    color: white;
    background-color: transparent;
}
.headingStyle1{
    margin-top: 0;
    margin-bottom: 30px;
}
.section{
    text-align: center;
    padding: 40px 20px;
    color: white !important;
}
.section-text{
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 20px;
    line-height: 120%;
}

.cardTest{
    color: black !important;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    display: inline-block;
}
.cardTest svg{
    color: black!important;
}
@media screen and (max-width: 876px) {
    .cardTest{
        width: 100%;
    }
    #contact-form{
        width: 100%;
    }
    #landing-img{
        width: 0 !important;
    }
    #handbook-description{
        padding-left: 5%;
        padding-right: 5%;
    }

    #about{
        padding-left: 2%;
        padding-right: 2%;
    }
}

#contact-form{
    width: 30%;
    margin-right: 10%;
    margin-left: 10%;
    display: inline-block;
}
#social{
    display: inline;
}
.fa{
    font-size: 200%;
    padding-left: 15px;
    padding-right: 15px;
}
.alignTop{
    vertical-align: top !important;
}

.width60{
    width: 60%;
    display: inline-block;
    padding-right: 10%;
    padding-left: 10%;
}
.width40{
    width: 40%;
    display: inline-block;
    vertical-align: bottom;
}
#landing-img{
    width: 100%;
    display: block;
}

.full-width{
    width: 100%;
}
.no-padding{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.block-img{
    display: block;
}
.align-left{
    text-align: left;
}
#handbook{
    background-size: 100%;
    background: url("img/handbook.jpeg") no-repeat;
    text-align: center;
    padding: 40px;
}

#handbook > * {
    margin: 0px;
    padding-bottom: 30px;
}


#handbook-description{
    padding-left: 25%;
    padding-right: 25%;
    font-size: 130%;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.fa-instagram:hover {
    color: #cd486b;
}
.fa-facebook:hover {
    color: #3b5998;
}

#about{
   padding-left: 10%;
   padding-right: 10%;
}

.h2-resources{

}